<ion-view title={{translation.BUSQUEDAAVANZADA}}>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content>

        <div class="list">


            <button class="button button-positive" ng-click="busquedaEspacios()">
                Busqueda por codigo de Espacio
            </button>
            <label id="codEspacio" style="display:none" class="item item-input item-select formulario-input">
                <div class="input-label" >
                    {{translation.SELECCIONAR_CODIGO_ESPACIO}}
                </div>
                <select  class="ion-input-select" ng-model="codigoEspacios" >
                    <!-- No se añade traduccion a los valores ya que son los mismos sin importar el lenguaje-->
                    <option ng-repeat="cod in codigoEspacios"
                            value="{{cod.ID_espacio}}">
                        {{cod.ID_espacio}}
                    </option>
                </select>

            </label>

        </div>

        <button class="button button-positive" >
            {{translation.BUSCAR}}
        </button>


    </ion-content>

</ion-view>
