<ion-view title={{translation.BUSQUEDA}}>

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content>

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label" >
          {{translation.SELECCIONAR_CIUDAD}}
        </div>
        <select class="ion-input-select" ng-change="selectCampus(ciudad)" ng-model="ciudad" >
          <!-- No se añade traduccion a los valores ya que son los mismos sin importar el lenguaje-->
          <option value="1">Zaragoza</option>
          <option value="2">Huesca</option>
          <option value="3">Teruel</option>
          <!-- Los datos estan introducidos en el codigo porque no van a cambiar y se evita consultar la BD -->
        </select>

      </label>

      <label class="item item-input item-select">
        <div class="input-label" >
          {{translation.SELECCIONAR_CAMPUS}}
        </div>
        <select class="ion-input-select" ng-change="selectEdificio(campus)" ng-model="campus" >
          <!-- No se añade traduccion a los valores ya que son los mismos sin importar el lenguaje-->
          <option ng-repeat="camp in Campus"
                  value="{{camp.ID}}">
            {{camp.campus}}
        </select>

      </label>

      <label class="item item-input item-select">
        <div class="input-label" >
          {{translation.SELECCIONAR_EDIFICIO}}
        </div>
        <select class="ion-input-select" ng-change="selectPlanta(edificios)" ng-model="edificios" >
          <!-- No se añade traduccion a los valores ya que son los mismos sin importar el lenguaje-->
          <option ng-repeat="edif in Edificio"
                  value="{{edif.ID_Edificio}}">
            {{edif.edificio}}
        </select>

      </label>

      <label class="item item-input item-select">
      <div class="input-label" >
        {{translation.SELECCIONAR_PLANTA}}
      </div>
      <select class="ion-input-select" ng-model="planta" >
        <!-- No se añade traduccion a los valores ya que son los mismos sin importar el lenguaje-->
        <option ng-repeat="planta in Planta"
                value="{{planta}}">
          {{planta}}
      </select>

    </label>

      <label class="item item-input item-select">
        <div class="input-label" >
          {{translation.SELECCIONAR_ESTANCIA}}
        </div>
        <select class="ion-input-select" ng-model="estancia">
          <!-- No se añade traduccion a los valores ya que son los mismos sin importar el lenguaje-->
          <option value="aula">{{translation.AULA}}</option>
          <option value="laboratorio">{{translation.LABORATORIO}}</option>
          <option value="despacho">{{translation.DESPACHO}}</option>
        </select>

      </label>

      <button class="button button-positive" ng-click="busquedaEspacios()">
        Busqueda por codigo de Espacio
      </button>
      <label id="codEspacio" style="display:none" class="item item-input item-select formulario-input">
        <div class="input-label" >
          {{translation.SELECCIONAR_CODIGO_ESPACIO}}
        </div>
        <select  class="ion-input-select" ng-model="codigoEspacios" >
          <!-- No se añade traduccion a los valores ya que son los mismos sin importar el lenguaje-->
          <option ng-repeat="cod in codigoEspacios"
                  value="{{cod.ID_espacio}}">
            {{cod.ID_espacio}}
          </option>
        </select>

      </label>

    </div>

    <button class="button button-positive" >
      {{translation.BUSCAR}}
    </button>


  </ion-content>
  
</ion-view>
