<ion-view title={{translation.INICIO}} xmlns="http://www.w3.org/1999/html">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>


    <ion-content >
        <div class="estancia">
            <strong>Datos de la estancia:</strong> <div id="dato_estancia"></div>
            <strong>Nombre:</strong> <div id="nombre_estancia"></div>
            <strong>Tipo:</strong> <div id="tipo_estancia"></div>
            <strong>Superficie:</strong> <div id="superficie_estancia"></div>

        </div>
<div id="botones">
        <button id="botonVolver" class="button button-light" ng-click="volver()">Volver</button>
        <button id="botonFotos" class="button button-light" ng-click="mostrarFoto()">Fotos</button>
        </div>

    </ion-content>


</ion-view>
