/* Empty. Add your own CSS if you like */
html,body {
    height: 100%;
    width:100%;
}
/* MENU LATERAL */
.mymenu {
    color: #ffffff;
    background: -webkit-linear-gradient(left, #002040 , #304A64); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #002040 , #304A64); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #002040 , #304A64); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #002040 , #304A64);
}

/*Set the background to transparent for ion-item*/
.mymenu .item {
    padding: 0px 20px 0px 10px;
    border-style: none;

    background: -webkit-linear-gradient(left, #002040 , #304A64); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #002040 , #304A64); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #002040 , #304A64); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #002040 , #304A64);
}

.mymenu .item span {
    margin-left: 25px;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.mymenu .item i {
    margin-left: 15px;
    padding: 0px;
    font-size: 1.2em;
}

/*Ion-item adds item-complex and an inner div, .item-content*/
/* this needs to be transparent too, but doesnt need borders*/
.mymenu .item-complex .item-content, .mymenu .item-radio .item-content {
    background-color: transparent;
    padding: 20px 0px 20px 0px;
}

/*Just makes the type white*/
.mymenu h2,
.mymenu h3,
.mymenu p,
.mymenu a {
    color: #ffffff;
}

#menu-list {
    margin-top: 40px;
}


/* Splash */
#splash-wrapper {
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 30px;
}

#splash-div {
    display: table;
    margin: 0 auto;
    text-align: center;
}

#loading-div {
    margin-top: 50px;
}

#mapa { /*height: 600px;*/
    width: 98%;
    height: 97%;
    border-style: solid;
    border-width: 1px;
    margin-left:1%;
    margin-right:1%;
    margin-top:1%;
    margin-bottom:2%;

}
#plan { /*height: 600px;*/
    width: 98%;
    height: 97%;
    border-style: solid;
    border-width: 1px;
    margin-left:1%;
    margin-right:1%;
    margin-top:1%;
    margin-bottom:2%;

}
#texto-popup {
     text-align: center;
 }


/* Pagina Inicio */
.logo-wrapper {

    /*border-style: solid;
    border-width: 1px;
    margin-left:30%;
    margin-right:30%;*/
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

#boton{
    float:right;
}
img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}
#img-logo{
    height: 10%;
    width: 20%;
    margin-top: 1%;
    margin-bot: 1%;
    margin-right:40%;
    margin-left:40%;
}
#mapimage,#fotoEstancia,#datosFotos,#botonFavoritos{
    text-align:center;
    margin-top: 1%;
}
.estancia{
    border-style: solid;
    border-width: 1px;
    height: 50%;
    width: 80%;
    margin-top: 5%;
    margin-right:10%;
    margin-left:10%;
    margin-bot: 45%;
}
#botonFotos,#botonSiguiente,#botonAnterior{
    height: 8%;
    width: 20%;
    float:right;
    /*margin-top: 3%;
    margin-left:75%;
    margin-right:10%;*/
}

#botonVolverEstancia,#botonVolverFoto{
    height: 8%;
    width: 20%;
    float:left;
    /*margin-top: 3%;
    margin-left:10%;
    margin-right:75%;*/
}
.botones{
    /*display:inline;*/
    width:80%;
    margin-top: 3%;
    margin-left:10%;
    margin-right:10%;
}
.selectMap{
    margin-right:10px;
}
